<div class="container" [formGroup]="form">
  <div class="row">
    <div class="form-group">
      <label for="sel1">Restoring your sequence</label>
      <select class="form-control" id="sel1" formControlName="s1">
        <option *ngFor="let graph of graphData" [ngValue]="graph">{{graph.name}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label for="sel2">Chose method</label>
      <select class="form-control" id="sel2" formControlName="s2">
        <option *ngFor="let graph of methods" [value]="graph">{{graph}}</option>
      </select>
    </div>
  </div>
  <button class="btn btn-info" (click)="close()">Restore</button>
</div>
