<table class="table">
  <thead class="">
  <tr>
    <th>Name</th>
    <th>Position</th>
    <th>Responsibilities</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let m of teamMembers">
      <td>{{m.name}}</td>
      <td>{{m.position}}</td>
      <td>{{m.resp}}</td>
    </tr>
  </tbody>
</table>
