<div class="menu">
  <header class="d-flex align-items-center justify-content-between">
    <div class="logo">
      <h2>Di generate</h2>
    </div>
    <div class="right-side">
      <a routerLink="/home" class="btn btn-default" routerLinkActive="active">Home</a>
      <a routerLink="/about" class="btn btn-default" routerLinkActive="active">About</a>
      <a routerLink="/team" class="btn btn-default" routerLinkActive="active">Team</a>
    </div>
  </header>
  <hr>
</div>

