<ul class="list-unstyled">
  <li *ngFor="let parameter of parameters">
    <mat-form-field>
      <input matInput app-auto-grow [max_input_numbers]="22" step="{{parameter.step}}" min="{{parameter.min}}" max="{{parameter.max}}"
             type="number" [(ngModel)]="parameter.value" placeholder="{{parameter.key}}" value="{{parameter.value}}">
    </mat-form-field>

    <mat-slider [(ngModel)]="parameter.value" [min]="parameter.min" [max]="parameter.max" [step]="parameter.step"
                [value]="parameter.value" thumbLabel tickInterval="1"></mat-slider>
  </li>
</ul>
