<div *ngIf="generator&&!hided">
  <mat-card>
    <button type="button" class="close pull-right" aria-label="Close" (click)="hided=!hided">
      <span aria-hidden="true">&times;</span>
    </button>
    <mat-card-title><h3 id="generator[{{generator.Id}}]">{{generator.title}}</h3>
    </mat-card-title>
    <mat-card-content>
      <app-parameters [parameters]="generator.paramters"></app-parameters>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="ok()">{{text_ok}}</button>
    </mat-card-actions>

  </mat-card>

</div>
