<div class="container">
  <div class="row">
    <div class="col-md-9">
      <a routerLink="/home" class="btn btn-info">Go back</a>
    </div>
    <div class="col-md-2">
      <button class="btn btn-info" *ngIf="hasData" (click)="openRestoreDialog()"> Restore</button>
    </div>
    <div class="col-md-1">
      <button class="btn btn-info" *ngIf="hasData" (click)="resetGraph()"> Reset</button>
    </div>
  </div>
  <div *ngIf="!hasData">Sorry, no data. No charts for you.</div>

</div>

<ng-template [ngIf]="hasData">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
      <div style="display: block;">
        <canvas baseChart width="800" height="400"
                [datasets]="lineChartData"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType">
        </canvas>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="offset-1 col-2">Mean:{{mean}}</div>
    <div class="col-2">Varience:{{varience}}</div>
    <div class="col-2">Min:{{min}}</div>
    <div class="col-2">Max:{{max}}</div>
  </div>
</ng-template>
