<div class="text-center d-flex flex-column">
  <h2>{{text_header}}</h2>
  <div class="btn-group btn" dropdown [autoClose]="false" [isOpen]="status.isopen" (isOpenChange)="change($event)"
       placement="bottom right">
    <button dropdownToggle [disabled]="generators==undefined" mat-raised-button color="primary"
            class=" dropdown-toggle">
      {{text_dropdown}} <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu " role="menu">
      <li *ngFor="let generator of generators">
        <div [class.active]="generator === selectedGenerator" (click)="selectedGenerator=generator"
             class="dropdown-item">{{generator.title}}
        </div>
        <div *ngIf="generator === selectedGenerator" class="append">
          <app-generator [generator]=selectedGenerator (onChanged)="onOkBtn($event)"></app-generator>
        </div>
      </li>
    </ul>
  </div>

  <button mat-raised-button class="gen-btn" [disabled]="selectedGenerator==undefined" (click)="serveExperiment()">
    {{text_generate}}
  </button>

  <mat-expansion-panel class="mt-4" [disabled]="option==undefined">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{text_options}}
      </mat-panel-title>
      <mat-panel-description>{{text_opt_btn}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-option [option]="option"></app-option>
  </mat-expansion-panel>
</div>
