<h1 class="display-4">Distribution generator application</h1>
<p class="lead">
  The application is used for generating Binomial & Laplace distributions.
</p>
<p class="lead">
  <span class="font-italic">The binomial distribution</span> describes the behavior of a count variable X if the
  following conditions apply:

  1: The number of observations n is fixed.
  2: Each observation is independent.
  3: Each observation represents one of two outcomes ("success" or "failure").
  4: The probability of "success" p is the same for each outcome.

  If these conditions are met, then X has a binomial distribution with parameters n and p, abbreviated B(n,p).
</p>
<div class="text-center">
  <img src="http://support.minitab.com/en-us/minitab-express/1/binomialdistribution_def.png" class="image" alt="">
</div>
<br>
<p class="lead">
   <span class="font-italic">The Laplace distribution</span> is a continuous probability distribution named after Pierre-Simon Laplace.
  It is also sometimes called the double exponential distribution, because it can be thought of as two exponential
  distributions (with an additional location parameter) spliced together back-to-back, although the term
  'double exponential distribution' is also sometimes used to refer to the Gumbel distribution.
  The difference between two independent identically distributed exponential random variables is governed
  by a Laplace distribution, as is a Brownian motion evaluated at an exponentially distributed random time.
  Increments of Laplace motion or a variance gamma process evaluated over the time
</p>
<div class="text-center">
  <img src="http://austinrochford.com/resources/bayesian-priors/laplace.png" class="image" alt="">
</div>
