<div *ngIf="option">
  <mat-card>

    <mat-card-title><h3>{{text_title}}</h3>
    </mat-card-title>
    <mat-card-content>
      <app-parameters [parameters]="option.paramters"></app-parameters>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>

</div>
