/* You can add global styles to this file, and also import other style files */
@import "variables";

body {
  //background-color: $cyan;
}

.logo {
  font-family: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-style: italic;
}

.vh {
  min-height: 100vh;
}

app-home {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 12rem;
  transition: all 1s ease;
  h4{
    margin-top:2rem;
  }
  .btn-group.btn {
    display: flex;
    justify-content: center;
    .mat-raised-button {
      font-size: 1.6rem !important;
      padding: 2% 4%;
      padding-right: 2rem;
    }
    .dropdown-toggle {
      display: inline-block;
    }
  }
  .gen-btn ,.opt-btn{
    font-size: 1.2rem;
    color: #ffffff;
    margin: 0 20%;
    margin-top: 2rem;
    background-color: #ff0023;
  }
  .opt-btn{
    margin-top:.5rem;
  }
}

.active {
  background-color: $blue;
  opacity: 0.4;
  color: #ffffff;
  &:hover {
    background-color: $blue !important;
  }
}

//home
.append {
  position: absolute;
  left: 100%;
  top: -50%;
  .close {
    position: absolute;
    right: 0.2rem;
    top: 0.2rem;
  }
}

//generator
app-generator {
  input {
    max-width: 3rem;
    margin: .2rem;
  }
  mat-card-actions, h3 {
    text-align: center;
  }
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}
.mat-form-field{
  width: auto;
  max-width:200px;
}
//option
app-option {

}
